# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*

# env files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# build output (if any)
dist/
build/
coverage/

# Docker ignore (optional)
docker-compose.override.yml
